<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">My Django blog 2.0</a>
    <ul class="navbar-nav ms-auto">
      {% if request.user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_owner' %}">{{ request.user.username }}</a>
        </li>
        <li class="nav-item">
          <form method="post" action="{% url 'logout' %}" class="d-inline">
            {% csrf_token %}
            <button type="submit" class="btn btn-link nav-link border-0">Выйти</button>
          </form>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Войти</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
